{% load i18n %}

<div id="error-container">
  <div class="error-message container">
    <h3 class="title">
      <span class="sr">{% blocktrans %} {{ error_summary }} {% endblocktrans %}</span>
      {{ error_summary }}
    </h3>
    <div class="copy">
      <p>
        {% blocktrans %}
          The receipt that you specified does not exist in this location.
          Make sure that the URL is correct and try again.
        {% endblocktrans %}
      </p>
      <br/>
    </div>
    <div class="msg">
      <p>
        {% autoescape off %}
          {% with "<a href='"|add:order_history_url|add:"'>"|safe as start_link %}
            {% blocktrans with order_history_url=order_history_url end_link="</a>"|safe %}
              You can also access receipts from your {{ start_link }}Orders page{{ end_link }}.
            {% endblocktrans %}
          {% endwith %}
        {% endautoescape %}
      </p>
    </div>
  </div>
</div>
