{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block javascript %}
  <script src="{% static 'js/apps/receipt_app.js' %}"></script>
{% endblock javascript %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
  <div class="receipt">
    {% if order_data %}
      <div class="container content-container">
        <div id="receipt-container"
          class="pay-and-verify"
          data-total-amount="{{ order_data.total_excl_tax }}"
          data-currency="{{ order_data.currency }}">
          <div class="wrapper-content-main">
            <article class="content-main">
              <h3 class="thank-you">
                {% trans "Thank you!" %}
              </h3>

              <div class="list-info">
                <div class="info-item payment-info row">
                  <div class="copy col-md-8">
                    <div class="confirm-message">
                      {% trans "Your order was processed successfully. Print this page for your records; it serves as your receipt. You will also receive a confirmation email with the same information at" %}
                      <a class="nav-link" href="mailto:{{ order_data.user.email }}">{{ order_data.user.email }}</a>.
                    </div>

                    {% if order_data.billing_address %}
                      <div class="addressed-to">
                        <span class="name-first">{{ order_data.billing_address.first_name }}</span>
                        <span class="name-last">{{ order_data.billing_address.last_name }}</span><br />
                        <span class="address-city">{{ order_data.billing_address.city }}</span>,
                        <span class="address-state">{{ order_data.billing_address.state }}</span>
                        <span class="address-postalcode">{{ order_data.billing_address.postcode }}</span><br />
                        <span class="address-country">{{ order_data.billing_address.country }}</span><br />
                      </div>
                    {% endif %}
                  </div>

                  <div class="order-headers order-summary col-md-4">
                    <span class="order-number-heading">{% trans "Order Number" %}:</span>
                    <div class="order-info">{{ order_data.number }}</div>
                    {% if order_data.payment_processor  %}
                      <span class="order-payment-heading">{% trans "Payment Method" %}:</span>
                      <div class="order-info">{{ order_data.payment_processor }}</div>
                    {% endif %}

                    <span class="order-date-heading">{% trans "Order Date" %}:</span>
                    <div class="order-info">{{ purchased_datetime|date:"d. E Y" }}</div>
                    </div>
                  </div>

                  <div class="wrapper-report">
                    <div class="order-headers order-details">{% trans "Order Details" %}</div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="order-columns">
                          <tr>
                            <!-- Translators: Abbreviation for quantity.-->
                            <th scope="col" >{% trans "Qty" %}.</th>
                            <th scope="col" >{% trans "Description" %}</th>
                            <th class="order-amount" scope="col" >{% trans "Amount" %}</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for line in order_data.lines %}
                            <tr class="order-line-data">
                              <td>{{ line.quantity }}</td>

                              <td>
                                {{ line.description }}
                                <div class="partner">
                                </div>
                                {% for voucher in order_data.vouchers %}
                                  <div class="voucher-info">{% trans "Coupon applied" %}:
                                    <span class="voucher-code">
                                      {{ voucher.code }}
                                      {{ order_data.discount_percentage }}% off
                                    </span>
                                    <span class="discount">-{{ order_data.formatted_discount }}</span>
                                  </div>
                                {% endfor %}
                              </td>

                              <td>
                                {% if order_data.discount %}
                                  <div class="old-price">{{ order_data.formatted_original_price }}</div>
                                {% endif %}
                                <div class="final-price">{{ line.formatted_price }}</div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>

                        <tfoot>
                          <tr class="order-total">
                            <td colspan="3">
                            <div class="total-value"> {% trans "Total: " %}
                              <span class="value-amount">{{ order_data.formatted_total_price }}</span>
                            </div>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>

                  {% for provider in providers %}
                    {% include 'oscar/checkout/_credit_provider_data.html' %}
                  {% endfor %}
                </div>
              </div>

              <div class="nav-wizard row">
                {% if verification_data %}
                  {% for key, value in verification_data.items %}
                    {% include 'oscar/checkout/_verification_data.html' %}
                  {% endfor %}
                {% else %}
                  <div id="verify_choices">
                    <a class="verify-later nav-link" href="{{ lms_dashboard_url }}">
                      {% trans "Go to Dashboard" %}
                    </a>
                  </div>
                {% endif %}
              </div>
            </article>
          </div>
        </div>
      </div>
    {% else %}
      {% include 'oscar/checkout/_order_not_found.html' %}
    {% endif %}
  </div>
{% endblock content %}
